.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.text {
  font-size: 1.1rem;
}

.link {
  text-decoration: none;
  color: #ced4da;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: #ced4da;
}
