.layout {
  font-size: 1.6rem;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(to bottom, #868e96, #000);
}
