.box {
  position: relative;
}

.container {
  width: 30rem;
  min-height: 30rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 75em) {
  .container {
    width: 25rem;
    min-height: 25rem;
  }
}

.form {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form h2 {
  position: relative;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  /* margin-bottom: 4rem; */
}

.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 0.2rem;
  background: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.2);

  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #868e96;
  box-shadow: 0 0 0 0.3rem rgba(134, 142, 150, 0.5);
}

.google {
  font-size: 2rem;
  transform: translateY(4px);
}
