* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background: #000;
  transition: background 0.3s ease-in-out;
}

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  font-family: sans-serif;

  color: #fff;
}

@media (max-width: 75em) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 37.75em) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 70%;
  }
}

.absolute {
  position: absolute;
}

.blur {
  filter: blur(15rem);
}
